## Loading of initial data

### Load requisite python packages

In [1]:
#Load the 'pandas' package
import pandas as pd
#Load the 'ipywidgets' package
import ipywidgets as widgets
#Load the 'IPython.display' package
from IPython.display import display
#Load the 'numpy' package
import numpy as np

### Load test data

In [2]:
testData=pd.read_csv("../Data/ae_attendances_test.csv")
testData

    index      period org_code   type  attendances  breaches  admissions
0    1155  2016-12-01   C82010  other          200         0           0
1    2059  2016-10-01      RDZ      1         6452       360        1814
2    3468  2016-05-01      RVR      2          417         0           6
3    4153  2018-03-01      RQM  other         9376       112           0
4    4820  2018-02-01      R1F  other          245         0           0
5    7243  2017-07-01      RE9      1         5170       235        1269
6    8057  2017-04-01      RQM      1        15957      1309        3375
7    8957  2019-02-01      RNL      1         7258      1374        1947
8   10214  2018-10-01      RJ1  other         3197         0           0
9   10328  2018-10-01      RKB      2         2033         8         105
10  11767  2018-06-01    NLO12  other          336         1           0

In [3]:
#confirm data types
result = testData.dtypes
print("Output:")
print(result)

Output:
index           int64
period         object
org_code       object
type           object
attendances     int64
breaches        int64
admissions      int64
dtype: object

### Set up empty data frame

In [4]:
dfTofill = pd.DataFrame({'index': [0],# Integer
                   'period': [pd.Timestamp('20000101')], # Date
                   'org_code': ['NA'], # String
                   'type': ['NA'], # String
                   'attendances': [0], # Integer
                   'breaches': [0], # Integer
                   'admissions': [0], # Integer
                   'consent': [False]}) # Boolean 

dfTofill

   index     period org_code type  attendances  breaches  admissions  consent
0      0 2000-01-01       NA   NA            0         0           0    False

Save the empty data frame to your working 'Data' folder (commented out out to prevent wiping file when re-running code)

In [ ]:
#dfTofill.to_csv('../Data/CollectedData.csv', index=False)

Read empty 'CollectedData' dataframe

In [ ]:
CollectData=pd.read_csv("../Data/CollectedData.csv")
CollectData

# Indexing

Add the index number to the *'dfTofill'* file

In [ ]:
index_number=11767 #Remember to change for each record.
dfTofill.iloc[0,0]=index_number
dfTofill

# Widgets

## Inserting consent

### Checkbox widget
To capture the value for consent which is Boolean (i.e. True or False)

In [ ]:
a = widgets.Checkbox(
    value=False,
    description='I consent for the data I have provided to be processed and shared in accordance with data protection regulations with the purpose of improving care service provision across the UK.',
    disabled=False,
    layout=widgets.Layout(width='1300px')) #layout ammended to allow display of full text
display(a)

Add result from checkbox to 'dataTofill' dataframe

In [ ]:
dfTofill.iloc[0,7]=a.value
dfTofill

# Inserting the date

### DatePicker widget

To input the period which is an object (string)

In [ ]:
testData.head(n=1)

In [ ]:
b = widgets.DatePicker(
    description='Period',
    disabled=False
)
display(b)

In [ ]:
dfTofill.iloc[0,1]=b.value
dfTofill

## Inserting *org_code* and *type*

Compute descriptive statistics for testData to identify how many unique options there will be for the variables *org_code* and *type*

In [ ]:
testData.describe(include='all')

Obtain the unique ODS code for the organisations in the testData

### Selection widget

Selection widget for the 'org_code' was chosen as there are 11 options

Apply the `unique()` function to create the object 'org_code' which contains the options for the 'org_code' variable

In [ ]:
org_code=list(testData['org_code'].unique())
org_code

Apply the **Selection** widget

In [ ]:
c=widgets.Select(
    options=org_code,
    value='C82010',
    rows=len(org_code),
    description='ODS code:',
    disabled=False
)
display(c)

In [ ]:
dfTofill.iloc[0,2]=c.value
dfTofill

### Radio button widget

Radio button for the 'Type Variable' as this is one of only three options

Apply the `unique()` function to create the object 'type' which contains the options for the 'Type Variable'

In [ ]:
type=list(testData['type'].unique())
type

Apply the **Radio button** widget

In [ ]:
d=widgets.RadioButtons(
    options=type,
    value='other',
    description='Type:',
    disabled=False
)
display(d)

In [ ]:
dfTofill.iloc[0,3]=d.value
dfTofill

## Inserting Attendances, Breaches, and Admissions 

These are all whole numbers, therefore the **IntText** widget will be used

### IntText widget

### Attendances
Insert value for ED attendances

In [ ]:
e=widgets.IntText(
    value=0,
    description='Attendances:',
    disabled=False)
display(e)

In [ ]:
dfTofill.iloc[0,4]=e.value
dfTofill

### Breaches
Insert value for 4hr breaches for the defined period

In [ ]:
f=widgets.IntText(
    value=0,
    description='Breaches:',
    disabled=False)
display(f)

In [ ]:
dfTofill.iloc[0,5]=f.value
dfTofill

### Admissions 
Insert value for admissions from the ED

In [ ]:
g=widgets.IntText(
    value=0,
    description='Admissions:',
    disabled=False)
display(g)

In [ ]:
dfTofill.iloc[0,6]=g.value
dfTofill

# Saving the collected data

## Concatenating the collected data to the CollectData data frame.   

`concat()` function is used to append the CollectData and dfTofill data frames.

In [ ]:
CollectData  = pd.concat([CollectData, dfTofill])
display(CollectData)

## Confirming that consent is obtained

In [ ]:
CollectData=CollectData[CollectData['consent'] == True]
display(CollectData)

## Saving the CollectData data frame

Saving the data collected by your data-capture tool to the working data folder:

In [ ]:
CollectData.to_csv('../Data/CollectedData.csv', index=False)

Once all captured data collected, then save captured test data to your 'RawData' folder.

In [ ]:
CollectData.to_csv('../RawData/CollectedDataFinal.csv', index=False)

## The Box widget
The Box widget enables rich reactive layouts in the Jupyter Notebook. It aims at providing an efficient way to lay out, align and distribute space among your widgets in a box. The HBox (Horizontal layout) and VBox (vertical layout) classes above are special cases of the Box widget.

In [ ]:
form=widgets.VBox([a,b,c,d,e,f,g])

In [ ]:
display(form)