### Load requisite packages

In [1]:
#Load the 'pandas' package
import pandas as pd
#Load the 'ipywidgets' package
import ipywidgets as widgets
#Load the 'IPython.display' package
from IPython.display import display
#Load the 'numpy' package
import numpy as np

### Load test data

In [2]:
testData=pd.read_csv("../Data/ae_attendances_test.csv")
testData

    index      period org_code   type  attendances  breaches  admissions
0    1155  2016-12-01   C82010  other          200         0           0
1    2059  2016-10-01      RDZ      1         6452       360        1814
2    3468  2016-05-01      RVR      2          417         0           6
3    4153  2018-03-01      RQM  other         9376       112           0
4    4820  2018-02-01      R1F  other          245         0           0
5    7243  2017-07-01      RE9      1         5170       235        1269
6    8057  2017-04-01      RQM      1        15957      1309        3375
7    8957  2019-02-01      RNL      1         7258      1374        1947
8   10214  2018-10-01      RJ1  other         3197         0           0
9   10328  2018-10-01      RKB      2         2033         8         105
10  11767  2018-06-01    NLO12  other          336         1           0

In [3]:
#confirm data types
result = testData.dtypes
print("Output:")
print(result)

Output:
index           int64
period         object
org_code       object
type           object
attendances     int64
breaches        int64
admissions      int64
dtype: object

### Set up empty data frame

In [4]:
dfTofill = pd.DataFrame({'index': [0],# Integer
                   'period': [pd.Timestamp('20000101')], # Date
                   'org_code': ['NA'], # String
                   'type': ['NA'], # String
                   'attendances': [0], # Integer
                   'breaches': [0], # Integer
                   'admissions': [0], # Integer
                   'consent': [False]}) # Boolean 

dfTofill

   index     period org_code type  attendances  breaches  admissions  consent
0      0 2000-01-01       NA   NA            0         0           0    False

Save the empty data frame to your working 'Data' folder (commented out out to prevent wiping file when re-running code)

In [4]:
#dfTofill.to_csv('../Data/CollectedData.csv', index=False)

Read empty 'CollectedData' dataframe

In [29]:
CollectData=pd.read_csv("../Data/CollectedData.csv")
CollectData

,index,period,org_code,type,attendances,breaches,admissions,consent
0,0,2000-01-01,NaN,NaN,0,0,0,False

# Indexing

Add the index number to the *'dfTofill'* file

In [30]:
index_number=1155 #Remember to change for each record.
dfTofill.iloc[0,0]=index_number
dfTofill

,index,period,org_code,type,attendances,breaches,admissions,consent
0,1155,2016-12-01,C82010,other,200,0,0,True

# Widgets

## Inserting consent

### Checkbox widget
To capture the value for consent which is Boolean (i.e. True or False)

In [6]:
a = widgets.Checkbox(
    value=False,
    description='I consent for the data I have provided to be processed and shared in accordance with data protection regulations with the purpose of improving care service provision across the UK.',
    disabled=False,
    layout=widgets.Layout(width='1300px')) #layout ammended to allow display of full text
display(a)

Checkbox(value=False, description='I consent for the data I have provided to be processed and shared in accord…

Add result from checkbox to 'dataTofill' dataframe

In [7]:
dfTofill.iloc[0,7]=a.value
dfTofill

   index     period org_code type  attendances  breaches  admissions  consent
0      0 2000-01-01       NA   NA            0         0           0     True

# Inserting the date

### DatePicker widget

To input the period which is an object (string)

In [8]:
testData.head(n=1)

   index      period org_code   type  attendances  breaches  admissions
0   1155  2016-12-01   C82010  other          200         0           0

In [8]:
b = widgets.DatePicker(
    description='Period',
    disabled=False
)
display(b)

DatePicker(value=None, description='Period')

In [9]:
dfTofill.iloc[0,1]=b.value
dfTofill

   index      period org_code type  attendances  breaches  admissions  consent
0      0  2016-12-01       NA   NA            0         0           0     True

## Inserting *org_code* and *type*

Compute descriptive statistics for testData to identify how many unique options there will be for the variables *org_code* and *type*

In [13]:
testData.describe(include='all')

,index,period,org_code,type,attendances,breaches,admissions
count,11.000000,11,11,11,11.000000,11.000000,11.000000
unique,NaN,10,10,3,NaN,NaN,NaN
top,NaN,2018-10-01,RQM,other,NaN,NaN,NaN
freq,NaN,2,2,5,NaN,NaN,NaN
mean,6565.545455,NaN,NaN,NaN,4603.727273,309.000000,774.181818
std,3618.976329,NaN,NaN,NaN,4951.508338,524.261385,1161.917365
min,1155.000000,NaN,NaN,NaN,200.000000,0.000000,0.000000
25%,3810.500000,NaN,NaN,NaN,376.500000,0.000000,0.000000
50%,7243.000000,NaN,NaN,NaN,3197.000000,8.000000,6.000000
75%,9585.500000,NaN,NaN,NaN,6855.000000,297.500000,1541.500000
max,11767.000000,NaN,NaN,NaN,15957.000000,1374.000000,3375.000000

Obtain the unique ODS code for the organisations in the testData

### Selection widget

Selection widget for the 'org_code' was chosen as there are 11 options

Apply the `unique()` function to create the object 'org_code' which contains the options for the 'org_code' variable

In [ ]:
org_code=list(testData['org_code'].unique())
org_code

Apply the **Selection** widget

In [11]:
c=widgets.Select(
    options=org_code,
    value='C82010',
    rows=len(org_code),
    description='ODS code:',
    disabled=False
)
display(c)

Select(description='ODS code:', options=('C82010', 'RDZ', 'RVR', 'RQM', 'R1F', 'RE9', 'RNL', 'RJ1', 'RKB', 'NL…

In [12]:
dfTofill.iloc[0,2]=c.value
dfTofill

   index      period org_code type  attendances  breaches  admissions  consent
0      0  2016-12-01   C82010   NA            0         0           0     True

### Radio button widget

Radio button for the 'Type Variable' as this is one of only three options

Apply the `unique()` function to create the object 'type' which contains the options for the 'Type Variable'

In [ ]:
type=list(testData['type'].unique())
type

Apply the **Radio button** widget

In [20]:
d=widgets.RadioButtons(
    options=type,
    value='other',
    description='Type:',
    disabled=False
)
display(d)

RadioButtons(description='Type:', options=('other', '1', '2'), value='other')

In [21]:
dfTofill.iloc[0,3]=d.value
dfTofill

,index,period,org_code,type,attendances,breaches,admissions,consent
0,0,2016-12-01,C82010,other,0,0,0,True

## Inserting Attendances, Breaches, and Admissions 

These are all whole numbers, therefore the **IntText** widget will be used

### IntText widget

### Attendances
Insert value for ED attendances

In [22]:
e=widgets.IntText(
    value=0,
    description='Attendances:',
    disabled=False)
display(e)

IntText(value=0, description='Attendances:')

In [23]:
dfTofill.iloc[0,4]=e.value
dfTofill

,index,period,org_code,type,attendances,breaches,admissions,consent
0,0,2016-12-01,C82010,other,200,0,0,True

### Breaches
Insert value for 4hr breaches for the defined period

In [24]:
f=widgets.IntText(
    value=0,
    description='Breaches:',
    disabled=False)
display(f)

IntText(value=0, description='Breaches:')

In [25]:
dfTofill.iloc[0,5]=f.value
dfTofill

,index,period,org_code,type,attendances,breaches,admissions,consent
0,0,2016-12-01,C82010,other,200,0,0,True

### Admissions 
Insert value for admissions from the ED

In [26]:
g=widgets.IntText(
    value=0,
    description='Admissions:',
    disabled=False)
display(g)

IntText(value=0, description='Admissions:')

In [27]:
dfTofill.iloc[0,6]=g.value
dfTofill

,index,period,org_code,type,attendances,breaches,admissions,consent
0,0,2016-12-01,C82010,other,200,0,0,True

# Saving the collected data

## Concatenating the collected data to the CollectData data frame.   

`concat()` function is used to append the CollectData and dfTofill data frames.

In [31]:
CollectData  = pd.concat([CollectData, dfTofill])
display(CollectData)

,index,period,org_code,type,attendances,breaches,admissions,consent
0,0,2000-01-01,NaN,NaN,0,0,0,False
0,1155,2016-12-01,C82010,other,200,0,0,True

## Confirming that consent is obtained

In [32]:
CollectData=CollectData[CollectData['consent'] == True]
display(CollectData)

,index,period,org_code,type,attendances,breaches,admissions,consent
0,1155,2016-12-01,C82010,other,200,0,0,True

### Saving the CollectData data frame

Saving the data collected by your data-capture tool to the working data folder:

In [ ]:
CollectData.to_csv('../Data/CollectedData.csv', index=False)

Once all captured data collected, then save captured test data to your 'RawData' folder.

In [ ]:
CollectData.to_csv('../RawData/CollectedDataFinal.csv', index=False)